*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    font-family: 'Titillium Web', sans-serif;
}

nav{
    position: fixed;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.navright{
    margin-right: 20px;
    width: 20%;
    display: flex;
    justify-content: space-between;
}

nav p{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
  
.container h1{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.loader{
    position: fixed;
    width: 100vw;
    height: 100vh;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.loader .img{
    position: absolute;
    width: 100vw;
    height: 100vh;
    clip-path:polygon(0 100%,100% 100%,100% 100%,0 100%);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #0f0f0f;
    color: #fff;
    display: flex;
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.col {
    width: 100%;
    display: flex;
    padding: 1em;
    align-items: center;
    justify-content: center;
}

h2{
    margin: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
}

.col:nth-child(2) h2 {
    font-size: 24px;
    text-align: right;
    color: gray;
}
 
.col:nth-child(2) h2 span{
    color: #fff;
}
